Package: com.evilpenguin.thatwebinspector
Name: ThatWebInspector
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: ThatWebInspector enables web inspecting
Maintainer: EvilPenguin
Author: EvilPenguin
Section: Tweaks
